<div style="height: 90vh;" class="bg-dark d-flex align-items-center w-100">
    <div class="d-flex mx-auto h-25 flex-column justify-content-around align-items-center">
        <a class="text-decoration-none text-light" routerLink="/dash">Home</a>
        <a class="text-decoration-none text-light" routerLink="/empmng">Employee</a>
<button (click)="lgOut()" class="btn text-light">
    <i  class="fa-solid fa-right-from-bracket fa-lg" style="color: #ca072e;"></i>
    Logout
</button>
    </div>

</div>  