<div class="row w-100">
    <div class="col-2">
        <app-sidebar></app-sidebar>


    </div>
    <div class="col-10 p-2">

        <div class="d-flex justify-content-between">
            <h2>Employee List</h2>
    
        </div>
        <p>{{dt|date:'dd/MMM/yyyy'}}</p>
        <div class="my-4 p-3 d-flex justify-content-between">
            <div class="d-flex">
                <a routerLink="/empmng/addemp" class="btn btn-success">Add Employee +</a>
                <div class="dropdown ms-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" (click)="sortByid()">Sort By ID</a></li>
                        <li><a class="dropdown-item" (click)="sortByName()">Sort By Name</a></li>
                    </ul>
                </div>



            </div>
            <div class="w-50">
                <input class="form-control" name="key " [(ngModel)]="searchKey"  placeholder="search By Name" type="text">
            </div>

            <button (click)="generatePDF()" class="btn btn-danger "> Export as PDF </button>

        </div>
        <table class="table table-dark" *ngIf="employees.length>0" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>phone</th>
                    <th>department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let i of employees|search:searchKey|paginate:{itemsPerPage:3,currentPage:p}">
                    <td>{{i.id}}</td>
                    <td>{{i.name|uppercase}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.department|lowercase}}</td>
                    <td>
                        <a routerLink="/empmng/editemp/{{i.id}}" class="btn">
                            <i class="fa-regular fa-pen-to-square " style="color: #FFD43B;"></i>

                        </a>
                        <button class="btn ms-3" (click)="handleDelete(i.id)">
                            <i class="fa-solid fa-trash ms-4" style="color: #d90d2b;"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="(employees|search:searchKey).length==0">
                    <p class="text-warning fw-bold">no employee Found!!</p>
                </tr>
            </tbody>
        </table>
<div class="text-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
    
</div>        <h2 *ngIf="employees.length<=0">no employees added yet</h2>
    </div>
</div>